:root {
  --base-color: #998948;
}

@font-face {
  font-family: 'Product Sans';
  src: url(../assets/fonts/ProductSans-Black.ttf);
}
@font-face {
  font-family: 'Source Serif';
  src: url(../assets/fonts/SourceSerifVariable-Roman.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
small {
  font-family: 'Source Serif', sans-serif;
  color: #fff;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Containers */

body {
  background: #000;
}

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../assets/image/background2.png) no-repeat center top;
  background-size: cover;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  main {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 100px;
    margin-top: 25px;
    overflow: hidden;
  }
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  #app {
    height: 100%;
  }
}

.container {
  width: min(85%, 1100px);
  display: grid;
  grid-template-areas:
    'imagen logo'
    'imagen texto'
    'social contenido';
  grid-auto-rows: 100px 200px;
  gap: 0 50px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .container {
    display: grid;
    grid-template-areas:
      'logo'
      'imagen'
      'texto'
      'contenido'
      'social';
    place-items: center;
    grid-auto-rows: auto;
    gap: 25px 0;
    margin-top: 25px;
  }
}

/* Social */
.social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding-left: 50px;
}

@media screen and (max-width: 750px) {
  .social {
    padding-left: 10px;
  }
}

.social-wsp {
  position: fixed;
  right: -50px;
  bottom: 25px;
}

.social p {
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--base-color);
  margin-bottom: 10px;
}

.social-wrap {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.facebook,
.whatsapp,
.instagram,
.tiktok {
  cursor: pointer;
  transition: transform 0.3s;
}

.tiktok:hover,
.facebook:hover,
.whatsapp:hover,
.instagram:hover {
  transform: scale(1.05);
}

.facebook img,
.instagram img,
.tiktok img {
  width: 70%;
}

.whatsapp {
  width: 50px;
}

/* Items */

.balanza {
  grid-area: imagen;
  max-width: 400px;
  align-self: center;
}

.content {
  grid-area: contenido;
  justify-self: center;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-top: 20px;
}

@media screen and (max-width: 750px) {
  .content {
    margin-top: 25px;
    padding-top: 0px;
  }
}

.eslogan {
  padding-left: 20px;
  grid-area: logo;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content-paragraph {
  letter-spacing: 1px;
  margin-bottom: 50px;
}

/* countdown */
.description {
  grid-area: texto;
  font-weight: normal;
  font-size: 25px;
  user-select: none;
  color: #fff;
  max-width: 400px;
  padding-left: 20px;
}

@media screen and (min-width: 750px) {
  .description {
    padding-top: 30px;
  }
}

.countdown-title span {
  grid-area: texto;
  margin: 0;
  line-height: 1px;
  font-size: 30px;
  font-weight: bold;
}

.countdown-title p {
  margin: 0;
}

.countdown-wrap {
  display: flex;
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time p {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 5px;
  letter-spacing: 5px;
  user-select: none;
}
